version: "3.3"
services:
  client:
    stdin_open: true
    build: 
      context: .
      dockerfile: Dockerfile.dev
    ports: 
      - 3000:3000
    volumes:
      - "/home/devinhouse/node_modules"
      - "./:/home/devinhouse"